@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --paleblue: hsl(243, 100%, 93%);
    --grayishblue: hsl(229, 7%, 55%);
    --darkblue: hsl(228, 56%, 26%);
    --verydarkblue: hsl(229, 57%, 11%);
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--verydarkblue);
}
* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: "Raleway", sans-serif;
}

.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.background img {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50vh;
}

.mobile-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: none;
}

/* Content */

main {
    height: 100vh;
    width: 100rem;
    display: flex;
    margin: auto;
    align-items: center;
    /* border: 2px solid red; */
    padding: 3rem;
}

.logo-card {
    width: 35%;
    height: 17rem;
    padding: 3.2rem;
    background-color: var(--darkblue);
    border-radius: 1rem 80px 1rem 1rem;
}

.logo {
    width: 12rem;
    margin-bottom: 2.4rem;
}

.icon {
    background-color: var(--verydarkblue);
    width: 4rem;
    aspect-ratio: 1/1;
    object-fit: contain;
    padding: 1rem;
    border-radius: 10px;
    margin-right: 1rem;
}

.storage-card {
    width: 55%;
    height: 13rem;
    padding: 2rem 3.5rem;
    background-color: var(--darkblue);
    border-radius: 1rem;
    position: relative;
}

.card {
    width: 100%;
    display: flex;
    gap: 3rem;
    align-items: end;
    justify-content: center;
}

.data-text {
    color: var(--paleblue);
    font-size: 1.3rem;
}
.data {
    font-weight: bold;
}

.progress-bar {
    background-color: var(--verydarkblue);
    width: 100%;
    height: 2rem;
    border-radius: 20px;
    padding: 3px;
}
.progress {
    width: 81.5%;
    padding-right: 1px;
    height: 1.5rem;
    border-radius: 20px;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.progress::after {
    content: "";
    display: block;
    width: 1.2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background:#fff;
}

.legend {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.start {
    font-size: 1.2rem;
    color: #fff;
}

.caption {
    position: absolute;
    top: -5rem;
    right: 4rem;
    min-width: 15rem;
    height: 7rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding-left: 2rem;
}
.caption p {
    color: var(--grayishblue);
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.number {
    font-size: 34px;
    color: var(--verydarkblue);
    margin-right: 8px;
    font-weight: 700;
}
.caption::after {
    content: "";
    display: block;
    width: 3rem;
    aspect-ratio: 1/1;
    background: #fff;   
    /* border: 2px solid red; */
    margin-right: -0.02rem;
    margin-top: 8rem;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}

/* Footer */
.attribution { 
    margin-top: -3rem;
    font-size: 1.5rem; 
    text-align: center; 
    color: #fff;
}
.attribution a { 
    color: gray; 
}

/* Responsive */

@media (max-width: 992px) {
    main {
        width: 90%;
    }
}

@media (max-width: 768px) {
    main {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo-card, .storage-card {
        width: 90%;
        height: auto;
    }

    .background {
        display: none;
    }

    .mobile-background {
        display: block;
    }
    .mobile-background img {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100vh;
    }

    .card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .caption {
        width: 40%;
        padding: 2rem;
        top: 10.5rem;
        right: 50%;
        transform: translateX(50%)
    }
    .caption::after {
        display: none;
    }

    .storage-card {
        padding-bottom: 4.2rem;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .caption {
        width: 20%;
        top: 11rem;
        padding-left: 1.2rem;
    }
    .caption p {
        font-size: 0.9rem;
    }

    .storage-card {
        padding: 1.5rem 2.3rem;
        min-height: 15rem;   
    }

    .data-text {
        font-size: 1.2rem;
    }
}





